#data-student {
    border: 1px #354052 solid;
    height: 200px;
    width: 50%
}

#ModalTable {
    width: 950px;
    max-width: 950px;
    height: 500px;
}

#students_rows {
    cursor: pointer;
}

#message_space {
    display: none;
}

p.no-space {
    color: red !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

p.space {
    color: blue !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.btn {
    cursor: pointer;
    color: white;
    border-radius: 5px;
    height: 40px;
    margin: 5px;
    outline: none;
    padding: 7px 5px;
    text-transform: uppercase;
}

.btn:hover {
    color: white;
}

.btn-reporte {
    background-color: darkmagenta;
}