input#id_mobile, input#id_cellphone {
    width: 160px !important;
}

.btn {
    color: white;
    background-color: #007bff;
    border: 0 #007bff;
    border-radius: 4px;
    height: 33px;
    outline: none;
    text-transform: uppercase;
}