input#id_mobile, input#id_cellphone {
    width: 160px !important;
}

.btn {
    color: white;
    background-color: #007bff;
    border: 0 #007bff;
    border-radius: 4px;
    height: 33px;
    outline: none;
    text-transform: uppercase;
}

.red-cell {
    background-color: red;
    color: black;
    font-weight: bolder;
    padding: 0.3em;
}

.row-buttons {
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

a.btn {
    color: white;
    height: 20px;
    padding: 5px;
}

a.btn:hover {
    color: white;
    padding: 6px;
}

.btn-lista_asistencia {
    width: 45px;
}