{% extends 'report_html/base.html' %}
{% block content %}
    <table style="margin: 0;" cellpadding="0" border="0" cellspacing="0">
        <tbody>
        <tr>
            <th colspan="2" rowspan="1"><h2 style="color: black; text-align: left;">{{ nombre_colegio }}</h2></th>
        </tr>
        <tr>
            <th colspan="2" rowspan="1"><h3 style="color: black; text-align: left;">LISTA DE NOTAS</h3></th>
        </tr>
        <tr>
            <th colspan="1" rowspan="1" style="width: 50%;text-align: left;"><h4>ASISTENCIA ESCOLAR AÑO {{ year }}</h4>
            </th>
            <th colspan="1" rowspan="1" style="width: 50%;"><h4>FECHA: __________________</h4></th>
        </tr>
        <tr>
            <th colspan="2" rowspan="1" style="width: 6%;text-align: left;">
                DOCENTE: <u>&nbsp;&nbsp; {{ teacher.first_name|upper }} {{ teacher.last_name|upper }} &nbsp;&nbsp;</u>
            </th>
        </tr>
        <tr>
            <th colspan="2" rowspan="1" style="width: 100%;text-align: left;">
                ASIGNATURA: <u>&nbsp;&nbsp; {{ grade_section_course.course|upper }} &nbsp;&nbsp;</u>
                GRADO: <u>&nbsp;&nbsp; {{ grade_section_course.grade_section.grade }} &nbsp;&nbsp;</u>
                SECCIÓN: <u>&nbsp;&nbsp; {{ grade_section_course.grade_section.section }} &nbsp;&nbsp;</u>
            </th>
        </tr>
        </tbody>
    </table>

    <table style="margin: 15px 0 5px 0;border: 1px solid black;" cellpadding="3" border="0" cellspacing="3">
        <thead>
        <tr>
            <th style="width: 3%">#</th>
            <th style="width: 12%">Código MINED</th>
            <th>Estudiante</th>
            {% for columna in columnas %}
                <th style="width: 8%; font-size: 10px">{{ columna }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for student in students_notes %}
            <tr>
                <td style="text-align: center">{{ forloop.counter }}</td>
                <td>{{ student.student__code_mined }}</td>
                <td>{{ student.student__names }} {{ student.student__last_name }}</td>
                <td style="text-align: center">{{ student.note__bimonthly_I|default_if_none:'' }}</td>
                <td style="text-align: center">{{ student.note__bimonthly_II|default_if_none:'' }}</td>
                <td style="text-align: center">{{ student.note__biannual_I|default_if_none:'' }}</td>
                <td style="text-align: center">{{ student.note__bimonthly_III|default_if_none:'' }}</td>
                <td style="text-align: center">{{ student.note__bimonthly_IV|default_if_none:'' }}</td>
                <td style="text-align: center">{{ student.note__biannual_II|default_if_none:'' }}</td>
                <td style="text-align: center">{{ student.note__final|default_if_none:'' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="width: 20px; height: 1px;border-top: 1px solid black;margin: 35px 230px 0 230px;text-align: center; padding:3px;">
        <strong>{{ teacher.first_name|upper }} {{ teacher.last_name|upper }}</strong>
    </div>

{% endblock %}
