{% extends "admin/base.html" %}
{% load static i18n %}
{% load own_context_processor %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/own_styles.css' %}">
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script>
        var keys_note = ['ibimensual', 'iibimensual',
            'iiibimensual', 'ivbimensual'];
        var URLS_API = {
            'save': '{% url 'school:api_save_note' %}'
        };

        const NOTA_MINIMA_APROBADO = {{ config.NOTA_MINIMA_APROBADO }}

        $(function () {
            {% if request.user.groups.first or request.user.is_superuser%}
                {% if request.user.groups.first.name|lower == 'secretaria'|lower  %}
                        $('.validar_maxymin').attr('disabled', 'disabled');
                {% endif %}
            {% endif %}
        });
    </script>
    <script src="{% static 'js/note_register.js' %}">
    </script>
{% endblock %}
{% block content %}
    <div id="content-main">
        <form action="post" id="form_register_note" data-continue="false">
            <input type="hidden" name="course" id="course" value="{{ grade_section_course.course_id }}">
            <input type="hidden" name="teacher_id" id="teacher" value="{{ teacher_id }}">
            <fieldset class="module aligned  module_0 initialized">
                <h1>
                    {{ grade_section_course }}
                </h1>
                <div class="results">
                    <table style="width:100%; margin-bottom: 10px">
                        <tbody>
                        <tr>
                            <th style="width: 20%;font-size: 13px"><u>Datos Generales</u></th>
                            <th style="width: 10%"></th>
                            <th style="width: 20%;font-size: 13px"><u>Fecha Limite Para Registrar Notas</u></th>
                            <th style="width: 15%"></th>
                            <th style="width: 20%;font-size: 13px"><u>Escalas de Calificaciones</u>
                            <th>
                            <th style="width: 15%"></th>
                        </tr>
                        <tr>
                            <th>Asignatura:</th>
                            <td>{{ grade_section_course.course }}</td>
                            <th>I Bimensual:</th>
                            <td>{{ config.FECHA_LIMITE_REGISTRO_I_BIMENSUAL }}</td>
                            <th>Aprendizaje Avanzado AA</th>
                            <th>90 a 100</th>
                        <tr>
                            <th>Grado:</th>
                            <td>{{ grade_section_course.grade_section.grade }}</td>
                            <th>II Bimensual:</th>
                            <td>{{ config.FECHA_LIMITE_REGISTRO_II_BIMENSUAL }}</td>
                            <th>Aprendizaje Sastifactorio AS</th>
                            <th>76 a 89</th>
                        </tr>
                        <tr>
                            <th>Seccion:</th>
                            <td>{{ grade_section_course.grade_section.section }}</td>
                            <th>III Bimensual:</th>
                            <td>{{ config.FECHA_LIMITE_REGISTRO_III_BIMENSUAL }}</td>
                            <th>Aprendizaje Elemental AE</th>
                            <th>60 a 75</th>
                        </tr>
                        <tr>
                            <th>Estudiantes Registrados:</th>
                            <td>{{ students|length }}</td>
                            <th>IV Bimensual:</th>
                            <td>{{ config.FECHA_LIMITE_REGISTRO_IV_BIMENSUAL }}</td>
                            <th>Aprendizaje Inicial AI</th>
                            <th>Menos de 59</th>
                        </tr>
                        </tbody>
                    </table>
                    <table style="width:100%" id="result_list">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>C&oacute;digo Mined</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th style="text-align: center">IB</th>
                            <th style="text-align: center">IIB</th>
                            <th style="text-align: center">IS</th>
                            <th style="text-align: center">IIIB</th>
                            <th style="text-align: center">IVB</th>
                            <th style="text-align: center">IIS</th>
                            <th style="text-align: center">NF</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}
                                    <input type="hidden" class="matriculation_id" name="matriculation_id"
                                           value="{{ student.id }}"
                                           data-note_id="{{ student.note_id }}">
                                </td>
                                <td>
                                    {{ student.student__code_mined }}
                                </td>
                                <td>
                                    {{ student.student__names }}
                                </td>
                                <td>
                                    {{ student.student__last_name }}
                                </td>
                                <td style="width: 75px"
                                    class="{% if student.bi_i and student.bi_i < 60 %}red-cell{% endif %}">
                                    <input data-span="isemestre_input_span{{ forloop.counter }}"
                                           data-input="isemestre_input{{ forloop.counter }}"
                                           data-value1="ibimensual{{ forloop.counter }}"
                                           data-value2="iibimensual{{ forloop.counter }}"
                                           id="ibimensual{{ forloop.counter }}"
                                           {% if student.bi_i %}value="{{ student.bi_i }}"{% endif %}
                                           type="number" min="0" max="100"
                                           style="width: 100%" name="ibimensual"
                                            {% if student.bi_i_quantity_edition >= config.INTENTOS_PARA_REGISTRAR_NOTA or config.FECHA_LIMITE_REGISTRO_I_BIMENSUAL|less_than_today %}
                                           disabled
                                            {% endif %}
                                           class="validar_maxymin">
                                </td>
                                <td style="width: 75px"
                                    class="{% if student.bi_ii and student.bi_ii < 60 %}red-cell{% endif %}">
                                    <input data-span="isemestre_input_span{{ forloop.counter }}"
                                           data-input="isemestre_input{{ forloop.counter }}"
                                           data-value1="ibimensual{{ forloop.counter }}"
                                           data-value2="iibimensual{{ forloop.counter }}"
                                           id="iibimensual{{ forloop.counter }}"
                                           {% if student.bi_ii %}value="{{ student.bi_ii }}"{% endif %}
                                           type="number" min="0" max="100"
                                            {% if student.bi_ii_quantity_edition >= config.INTENTOS_PARA_REGISTRAR_NOTA or config.FECHA_LIMITE_REGISTRO_I_BIMENSUAL|between_the_period:config.FECHA_LIMITE_REGISTRO_II_BIMENSUAL %}
                                           disabled
                                            {% endif %}
                                           style="width: 100%" name="iibimensual"
                                           class="validar_maxymin">
                                </td>
                                <td style="width: 75px;text-align: center"
                                    class="{% if student.semestral_i and student.semestral_i < 60 %}red-cell-a{% endif %}">
                                    <span id="isemestre_input_span{{ forloop.counter }}">
                                        {% if student.semestral_i %}{{ student.semestral_i }}{% endif %}
                                    </span>
                                    <input id="isemestre_input{{ forloop.counter }}"
                                           data-span="notafinal_input_span{{ forloop.counter }}"
                                           data-input="notafinal_input{{ forloop.counter }}"
                                           data-value1="isemestre_input{{ forloop.counter }}"
                                           data-value2="iisemestre_input{{ forloop.counter }}"
                                           type="hidden" min="0" max="100"
                                           {% if student.semestral_i %}value="{{ student.semestral_i }}"{% endif %}
                                           style="width: 100%" name="isemestre"
                                           readonly>
                                </td>
                                <td style="width: 75px"
                                    class="{% if student.bi_iii and student.bi_iii < 60 %}red-cell{% endif %}">
                                    <input data-span="iisemestre_input_span{{ forloop.counter }}"
                                           data-input="iisemestre_input{{ forloop.counter }}"
                                           data-value1="iiibimensual{{ forloop.counter }}"
                                           data-value2="ivbimensual{{ forloop.counter }}"
                                           id="iiibimensual{{ forloop.counter }}"
                                           {% if student.bi_iii %}value="{{ student.bi_iii }}"{% endif %}
                                           type="number" min="0" max="100"
                                            {% if student.bi_iii_quantity_edition >= config.INTENTOS_PARA_REGISTRAR_NOTA or config.FECHA_LIMITE_REGISTRO_II_BIMENSUAL|between_the_period:config.FECHA_LIMITE_REGISTRO_III_BIMENSUAL %}
                                           disabled
                                            {% endif %}
                                           style="width: 100%" name="iiibimensual"
                                           class="validar_maxymin">
                                </td>
                                <td style="width: 75px"
                                    class="{% if student.bi_iv and student.bi_iv < 60 %}red-cell{% endif %}">
                                    <input data-span="iisemestre_input_span{{ forloop.counter }}"
                                           data-input="iisemestre_input{{ forloop.counter }}"
                                           data-value1="iiibimensual{{ forloop.counter }}"
                                           data-value2="ivbimensual{{ forloop.counter }}"
                                           id="ivbimensual{{ forloop.counter }}"
                                           {% if student.bi_iv %}value="{{ student.bi_iv }}"{% endif %}
                                           type="number" min="0" max="100"
                                            {% if student.bi_iv_quantity_edition >= config.INTENTOS_PARA_REGISTRAR_NOTA or config.FECHA_LIMITE_REGISTRO_III_BIMENSUAL|between_the_period:config.FECHA_LIMITE_REGISTRO_IV_BIMENSUAL %}
                                           disabled
                                            {% endif %}
                                           style="width: 100%" name="ivbimensual"
                                           class="validar_maxymin">
                                </td>
                                <td style="width: 75px;text-align: center"
                                    class="{% if student.semestral_ii and student.semestral_ii < 60 %}red-cell-a{% endif %}">
                                    <span id="iisemestre_input_span{{ forloop.counter }}">
                                        {% if student.semestral_ii %}{{ student.semestral_ii }}{% endif %}
                                    </span>
                                    <input id="iisemestre_input{{ forloop.counter }}"
                                           data-span="notafinal_input_span{{ forloop.counter }}"
                                           data-input="notafinal_input{{ forloop.counter }}"
                                           data-value1="isemestre_input{{ forloop.counter }}"
                                           data-value2="iisemestre_input{{ forloop.counter }}"
                                           type="hidden" min="0" max="100"
                                           {% if student.semestral_ii %}value="{{ student.semestral_ii }}"{% endif %}
                                           style="width: 100%" name="iisemestre"
                                           readonly>
                                </td>
                                <td style="width: 75px;text-align: center"
                                    class="{% if student.final and student.final < 60 %}red-cell-a{% endif %}">
                                    <span id="notafinal_input_span{{ forloop.counter }}">
                                        {% if student.final %}{{ student.final }}{% endif %}
                                    </span>
                                    <input id="notafinal_input{{ forloop.counter }}"
                                           type="hidden"
                                           min="0" max="100"
                                           {% if student.final %}value="{{ student.final }}"{% endif %}
                                           style="width: 100%"
                                           name="notafinal"
                                           readonly>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </fieldset>
            <div class="submit-row">

                <p class="deletelink-box">
                    <a href="{% url 'school:lista_de_asignaturas_por_seccion' teacher_id=teacher_id %}"
                       class="deletelink">Regresar</a>
                </p>

                <input type="submit" id="btn_save" value="Guardar" data-continue="false" class="default save"
                       name="_save"
                       disabled>
                {% if request.user.groups.first %}
                    {% if request.user.groups.first.name|lower == 'secretaria'|lower or request.user.is_superuser %}
                        <button type="button" id="enabled_inputs" class="btn">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Habilitar formulario
                        </button>
                    {% endif %}
                {% else %}

                    {% if request.user.is_superuser %}
                        <button type="button" id="enabled_inputs" class="btn">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Habilitar formulario
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

