{% extends "admin/base.html" %}
{% load static i18n %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-modal/jquery.modal.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/matriculation.css' %}">
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script>
        var URLS_API = {
            'school_space': '{% url 'school:api_school_space' %}',
            'students_data': '{% url 'school:api_students' %}',
            'save': '{% url 'school:api_save' %}',
            'current_page': '{% url 'school:new_form_matriculation' %}',
            'back_url': '/admin/school/matriculation/',
        };

        {% if request.resolver_match.url_name == 'matriculation_detail' %}
            var matriculacion = {
                id: {{ matriculation.id }},
                grade_seccion: {{ matriculation.grade_section_id }},
                grade_seccion_name: '{{ matriculation.grade_section }}',
                status: {{ matriculation.status }},
                teaching_year: {{ matriculation.teaching_year }},
                status_name: '{{ matriculation.status_name }}'
            };
            var student_data = {
                id: {{ student.id }},
                code_mined: '{{ student.code_mined }}',
                fullname: '{{ matriculation.student }}',
                birthday: '{{ student.birthday }}',
                family: {{ family|safe }}
            };
        {% endif %}
    </script>
    <script src="{% static 'js/matriculation.js' %}"></script>

    <script src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'jquery-modal/jquery.modal.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>

{% endblock %}
{% block content %}
    <div id="content-main">
        <form action="post" id="form_matricula" data-continue="false">
            {% csrf_token %}
            <fieldset class="module aligned  module_0 initialized">
                <h1>Registro de Matricula de Estudiante</h1>
                {% if request.resolver_match.url_name == 'new_form_matriculation' %}
                    <div class="form-row">
                        <div>
                            <label for="student_input_search">
                                {{ form.student.label }}
                            </label>

                            {{ form.student }}

                            <button id="search_student" type="button">
                                <i class="fa fa-search"></i> buscar
                            </button>

                        </div>

                    </div>
                {% endif %}

                <div class="form-row" id="data-student" style="display: none">
                    <h2><u>Datos del estudiante</u>:</h2>
                    <input type="hidden" id="id" name="student_id" value="">
                    <table style="width: 70%">
                        <tbody>
                        <tr>
                            <th>Código MINED:</th>
                            <td id="code_mined">lorem</td>
                        </tr>
                        <tr>
                            <th>Nombre completo del estudiante:</th>
                            <td id="fullname">lorem</td>
                        </tr>
                        <tr>
                            <th>Fecha Nacimiento:</th>
                            <td id="birthday">lorem</td>
                        </tr>
                        <tr>
                            <th>Familiares:</th>
                            <td id="family">lorem</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <div class="form-row">
                    <div>
                        <label for="grade_section_select">
                            Grado Sección
                        </label>
                        <div class="related-widget-wrapper">
                            {{ form.grade_section }}
                        </div>
                        <p id="message_space">lorem</p>
                    </div>
                </div>

                <div class="form-row">
                    <div>
                        <label for="teaching_year_input">
                            {{ form.teaching_year.label }}
                        </label>
                        {{ form.teaching_year }}
                    </div>
                </div>

                <div class="form-row">
                    <div>
                        <label for="status_select">
                            {{ form.status.label }}
                        </label>
                        <div class="related-widget-wrapper">
                            {{ form.status }}
                        </div>
                    </div>
                </div>

            </fieldset>

            <div class="submit-row">

                <input type="submit" value="Guardar" data-continue="false" class="default save" name="_save">

                <p class="deletelink-box"><a href="/admin/school/matriculation/" class="deletelink">Cancelar</a></p>

                <input type="submit" class="save" data-continue="true" value="Grabar y añadir otro" name="_addanother">


            </div>

            <div id="ModalTable" class="modal">
                <h3>Lista de Estudiantes</h3>
                <p>haz doble click en el estudiante que desea para crear su matricula</p>
                <table style="width: 100%">
                    <thead>
                    <tr>
                        <th>Código MINED</th>
                        <th>Nombre del estudiante</th>
                        <th>Fecha nacimiento</th>
                        <th>Familiares</th>
                    </tr>
                    </thead>
                    <tbody id="students_rows"></tbody>
                </table>

            </div>
        </form>
    </div>
{% endblock %}

