{% extends "admin/base.html" %}
{% load static i18n %}
{% load own_context_processor %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/note_register.js' %}">
    </script>
{% endblock %}
{% block content %}
    <div id="content-main">
        <form action="post" id="form_registernoteadmin" data-continue="false">
            <fieldset class="module aligned  module_0 initialized">
                <h1>Docentes</h1>
                <table style="width:100%" id="result_list">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nombres</th>
                        <th>Vocaci&oacute;n</th>
                        <th style="text-align: center">Documento</th>
                        <th style="text-align: center">Celular</th>
                        <th style="text-align: center">Editar Perfil</th>
                        <th style="text-align: center">Ver Asinaturas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ profile.user }}
                        </td>
                        <td>
                            {{ profile.vocation }}
                        </td>
                        <td>
                            {{ profile.document }}
                        </td>
                        <td>
                            {{ profile.cellphone }}
                        </td>
                        <td>
                            <p>0011</p>
                        </td>
                        <td>
                            <p>0011</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>
{% endblock %}
