{% extends "admin/base.html" %}
{% load static i18n %}


{% block title %}
    Asignaturas por aulas | {{ teacher.first_name }} {{ teacher.last_name }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span>
        <a href="{% url 'admin:index' %}school">{% trans 'School' %}</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span>
        Asignaturas por aulas
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div id="changelist" class="module filtered initialized">
            <form id="changelist-form" method="post" action="">
                {% csrf_token %}
                <div class="results">
                    <table id="result_list">
                        <caption>
                            <h1><strong>Docente:</strong> <u>{{ teacher.first_name }} {{ teacher.last_name }}</u></h1>
                        </caption>
                        <thead>
                        <tr>
                            <th>Asignaturas</th>
                            <th style="text-align: center">Grado</th>
                            <th style="text-align: center">Secci&oacute;n</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for registro in object_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'school:lista_de_alumnos_por_asignatura' teacher_id=teacher_id id=registro.grado_seccion_curso_id %}">{{ registro.curso }}</a>
                                </td>
                                <td style="text-align: center">{{ registro.grado }} </td>
                                <td style="text-align: center">{{ registro.seccion }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
{% endblock %}