<fieldset class="module aligned  module_0 initialized">
    <h1>Estadísticas</h1>
    <h5><strong>Filtro por período:</strong></h5>

    {% for periodo in spanish_fields.items %}
        <label for="period">
            <input type="radio" name="period" class="periods"
                   value="{{ periodo.0 }}"{% if periodo.1|lower == current_period|lower %}
                   checked="checked"{% endif %}>{{ periodo.1 }}
        </label>
    {% endfor %}
    <br>
    <hr>
    <br>
    <h1>
        El promedio del aula en el período
        <span class="corte" style="color: black">corte</span>
        es de
        <span class="promedio" style="color: black">promedio</span>
    </h1>
    <div id="notes_graph" style="width: 100%; height: 450px;margin-top: 25px"></div>

    <h3>
        Alumnos con mejor aprendizaje para el corte evaluativo
        <strong class="corte"style="color: black">corte</strong>
    </h3>
    <div class="results">
        <table style="width:100%; margin-bottom: 10px;margin-top: 10px" id="notes_good_students">
            <thead>
            <tr>
                <th>#</th>
                <th>Estudiante</th>
                <th>Nota</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <br>
    <h3>
        Alumnos con dificultades de aprendizaje para el corte evaluativo
        <strong class="corte" style="color: black">corte</strong>
    </h3>
    <div class="results">
        <table style="width:100%; margin-bottom: 10px;margin-top: 10px" id="notes_bad_students">
            <thead>
            <tr>
                <th>#</th>
                <th>Estudiante</th>
                <th>Nota</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</fieldset>