<fieldset class="module aligned  module_0 initialized">
    <h1>Estadísticas</h1>
    <h5><strong>Filtro por período:</strong></h5>

    {% for periodo in spanish_fields.items %}
        <label for="period">
            <input type="radio" name="period" class="periods"
                   value="{{ periodo.0 }}"{% if periodo.1|lower == current_period|lower %}
                   checked="checked"{% endif %}>{{ periodo.1 }}
        </label>
    {% endfor %}
    <br>
    <div id="notes_graph" style="width: 100%; height: 450px;margin-top: 20px"></div>



</fieldset>